body{
    background-image: linear-gradient(#16b507,  white,white ,white, white,white,white, white, white, white, white, white, white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white,white,white, white, white, #16b507);
}


textarea{
    background-image: linear-gradient(white , white ,white ,white);
}

.text-primary{
    color: #e00000
}
.imgtrex{
    width: 300px;
    height: auto;
}